.hello {
  display: flex;
  flex-direction: column;
  line-height: var(--line-height-cjk);
  min-block-size: 100%;
  background: var(--background-content);

  &__body {
    padding: var(--spacing-24);
  }
}
