.container {
	font-size: 12px;
	padding: 10px 0;
}

.header {
	display: flex;
	align-items: center;
	gap: 4px;
	line-height: 1;
	color: var(--color_text_grey);
	user-select: none;
}

.icon {
	display: flex;
	align-items: center;
	color: var(--color_text_grey);
}

.text {
	line-height: 1;
	color: var(--color_text_grey);
}
